extends layout

block content
  .w3-container
    .w3-card-4
      header.w3-container.w3-teal
        h1=title
      .w3-container
        p Repositories found in localhost:7200 :
        for repository in repositories
          p
            a(href="http://localhost:3000/sparql/input/" + repository.id.value)=repository.id.value
      footer.w3-container.w3-teal
        adress Criado por Ezequiel Moreira
